<h2>Bravo, vous venez de payez les  <strong><%=@amount%></strong> dollars ! </h2>

Vous allez donc pouvoir participez à l'évènement <%= @id_event.title %> </br>


Pour confirmer votre inscription :   <%= link_to "Cliquez-ici...", new_attendance_path%> </br>



